.App {
  text-align:center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}
table {
  background-color:yellow;
  border: 5px rgb(70, 207, 70) solid;
  text-align: center;
}
td { 
  width: 300px;
}
